@charset "utf-8";
/* CSS Document */

body{margin:0;padding:0;background-color:#fff;font-family:Arial, Helvetica, sans-serif,sans-serif;color:#666;}
ul{list-style:none;padding:0;margin:0;}

.topbar-wrapper{width:100%;background-color:#d31b59;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#d31b59, endColorstr=#962577);
 background-image:-moz-linear-gradient(left, #d31b59 42%, #962577 88%);
 background-image:-webkit-linear-gradient(left, #d31b59 42%, #962577 88%);
 background-image:-ms-linear-gradient(left, #d31b59 42%, #962577 88%);
 background-image:linear-gradient(left, #d31b59 42%, #962577 88%);
 background-image:-o-linear-gradient(left, #d31b59 42%, #962577 88%);
 background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(42%,#d31b59), color-stop(88%,#962577))z-index:199;}

.body-area{background-color:#f1f1f1;width:100%;}
.content-area{padding-left:10px; padding-right:10px;}
.content-area>.row{margin-left:-10px; margin-right:-10px}


.card{width:100%;border-radius:3px;margin-bottom:15px;overflow:hidden;padding:15px 0;background:#fff;box-shadow:1px 2px 3px 1px #ccc;transition:all ease-in .1s}
.card:hover{box-shadow:3px 3px 6px 1px #ccc; transition:all ease-in .1s}
.card-block-info{width:100%;padding:10px 15px;position:relative;overflow:hidden;}
.card .card-block-info{padding:0 10px}

.card-block-left{width:40%; margin-top:-10px; padding: 0 10px 0 20px; float:left;}
.card-block-middle{float:left;margin-top:-10px;}
.card-block-right{float:left;margin-top:-10px; padding-left:40px}

.card-block-middle ul li {float:left; padding:5px 15px 5px 0;}
.card-block-right ul li {float:left; padding:30px 15px 5px 0;}

.prfl-pic{width:60px; height:60px; border-radius:100%;overflow: hidden; float:left;}
.prfl-pic img{width:100%;}
.search-section{ text-align:center;padding:20px 0px 20px 0px;}

.card-icon{width:40px;height:36px;display:inline-block;background:url(../images/icon.png) no-repeat; position:relative; top:8px}

.profile-icon{background-position:0px -3px;}
.report-icon{background-position:-56px -3px;}
.document-icon{background-position:-116px -3px;}
.sms-icon{background-position:0px -56px;}
.mail-icon{background-position:-56px -56px;}
.mobile-icon{background-position:-116px -56px;}
.calendar-icon{background-position:-165px -27px;}

.popup-bg{width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:9999;top:0;position:fixed;display:none;}
.popup-content-holder{width:100%;text-align:center;display:flex;align-items:center;height:100%;flex-direction:row;padding:10px 10px;overflow:auto;}
.popup-container{background-color:#fff;border-radius:3px;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:left;margin:0 auto;overflow:auto;max-height:100%;min-height:200px;}

.btn .red-border-btn{background-color:transparent; padding:0 5px; font-size:14px; width: 25px;}
.btn .red-border-btn.active{background-color:#F00;  border-top-left-radius: 3px;  border-top-right-radius: 3px; border-top-right-radius: 3px;border-bottom-right-radius:3px;}

.btn-letter{background-color:transparent; border:1px solid #F00; font-size:14px;  padding:2px 5px; }

.btn-letter:hover{background-color:#F00; border:1px solid #F00; border-radius:3px;}

.btn-letter .active{background-color:#F00; border:1px solid #F00; border-radius:3px;}

.search-field input[type=text]{width:60%; border:1px solid #F00; border-radius:3px; padding:10px 5px;}

.btn-add-patient{background-color:#F00; border:1px solid #F00; border-radius:3px; padding:10px 10px; color:#FFF;text-transform:uppercase;}
.search-field span{padding:5px 20px;}