<div ng-controller="PatientListController" ng-init="init()">
	<div ng-include="'views/header.html'"></div>
	<div class="overlay-bg"></div>
    <div class="body-area">
        <div>
            <div class="container">
                <div class="row search-row">
                    <div class="col-xs-12 col-sm-12">
                        <form>
                            <div class="search-section">
                                <div  class="search-field">
                                    <input type="text" class="autocomplete" placeholder="Search patient by name or phone number" ng-model="searchPatient" typeahead="patient.patientInfo for patient in patients | filter:$viewValue | limitTo:10" ><span>Or</span>
                                    <button type="button" class="btn-add-patient"  ng-click="pendingWork();">Add patient</button>
                                </div>
                            </div>
                         </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="alphabet-search-section">
                            <div class="btn-group btn-group-sm">
                                <button class="btn-letter"  ng-repeat="letter in alphabet" ng-click="activateLetter(letter)" ng-class="{'active':letter==activeLetter}">{{letter}}</button>
                                <button class="btn-letter" ng-click="activateLetter('')" ng-class="{'active':activeLetter==''}">All</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div infinite-scroll="NextPage()"  infinite-scroll-distance='0'>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="patient in patients | startsWithLetter : activeLetter | limitTo : dataLimit">
                        <div class="card">
                            <div class="card-block-info">
                                <div class="prfl-pic"><img src="http://{{patient.picture}}"></div>
                                <div>
                                    <div class="card-block-left">
                                        <h4 class="doctor-name" ng-click="openPatientInfoPopup(patient);" >{{patient.name.first}} {{patient.name.last}}</h4>
                                        <p>{{patient.age}}</p>
                                        <p>{{patient.phone}}</p>
                                    </div>
                                    <div class="card-block-middle">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)" ng-click="openPatientInfoPopup(patient);"><i class="card-icon profile-icon"></i></a>											
                                             </li>
                                             <li>
                                             	<a href="javascript:void(0)" ng-click="pendingWork();"><i class="card-icon report-icon"></i></a>
                                             </li>
                                             <li>
                                                <a href="javascript:void(0)" ng-click="pendingWork();"><i class="card-icon document-icon"></i></a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)" ng-click="pendingWork();"><i class="card-icon sms-icon"></i></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" ng-click="pendingWork();"><i class="card-icon mail-icon"></i></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" ng-click="pendingWork();"><i class="card-icon mobile-icon"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block-right">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)" ng-click="pendingWork();"><i class="card-icon calendar-icon"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="patient-popup" class="popup-bg" >
        <div class="popup-content-holder" >
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 col-centered popup-container">
                <h4 class="modal-header">Patient Information </h4>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                        	<div class="prfl-pic"><img src="http://{{patientPicture}}"></div>
                            <div style="float:left; padding-left:20px;">
                            	<div>
                            		<label>Name :</label> {{patientFirstName}} {{patientLastName}}
                                </div>
                                <div>
                            		<label>Age :</label> {{patientAge}}
                                </div>
                            </div>
                            <br clear="all"/>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer"> <button type="button" class= "btn popup-close-btn gray-border-btn" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
</div>
